<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Sistema de Inventario</h5>
      <h6 class="card-subtitle mb-2 text-muted">Actividad tipo problema 2.2</h6>
      <p class="card-text">
        Añada productos al inventario y visualizelos al instante.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 inputs">
      <form class="form-control" [formGroup]="formularioContacto" (ngSubmit)="enviar()">
        <div class="input-group mb-3">
          <p>
            Código:<input class="form-control" type="text" formControlName="codigo" />
          </p>
        </div>
        <div class="input-group mb-3">
          <p>
            Nombre:<input class="form-control" type="text" formControlName="nombre" />
          </p>
        </div>
        <div class="input-group mb-3">
          <p>
            Precio:<input class="form-control" type="number" formControlName="precio" />
          </p>
        </div>
        <div class="input-group mb-3">
          <p>
            Stock:<input class="form-control" type="number" formControlName="stock" />
          </p>
        </div>
        <div>
          <button class="btn btn-success" type="submit">Enviar</button>
          <button class="btn btn-warning" type="reset">Borrar</button>
        </div>
      </form>
    </div>

    <div class="col-sm-9 tables">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Stock</th>
          </tr>
          <tr *ngFor="let product of products" class="table-light">
            <td>{{ product.codigo }}</td>
            <td>{{ product.nombre }}</td>
            <td>{{ product.precio }}</td>
            <td>{{ product.stock }}</td>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>